body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2%;
  font-family: cursive;
}

footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  padding-bottom: 1%;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #5e1a9c;
}

.nav-ul-li {
  color: #551a8b;
}

.nav-ul-li:hover {
  text-decoration: wavy;
  font-size: 1.1rem;
  transition-delay: 0.05s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.boks-section {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.timer {
  justify-content: end;
  display: flex;
}

.section-title {
  display: flex;
  justify-content: center;
}

.book-list-section {
  display: flex;
  flex-direction: column;
}

.right-footer {
  position: fixed;
  right: 0;
  padding-right: 2%;
}

.book-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 20%;
}

.book-ul-li {
  padding: 0.5% 0;
  display: flex;
  justify-content: space-between;
}

.book-ul-li:nth-child(even) {
  background-color: rgb(218, 219, 220);
}

.book-ul-li:hover {
  background-color: rgb(239, 241, 241);
  cursor: pointer;
}

.new-form {
  padding: 0 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text" i] {
  padding: 10px 10px;
}

.save-button {
  display: flex;
  justify-content: flex-end;
}

.save-button > button {
  padding: 2% 5%;
}

.contacts {
  padding: 0 35%;
  display: flex;
  flex-direction: column;
}

.new-book-failure {
  color: #c73131;
  font-size: 0.8rem;
}
